@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.8);
}

.container{
  width: 95%;
  margin: auto;
}

header .top-strip{}

.link:hover{
  color: #ff5252;
}

.MuiBadge-badge{
  background-color: #ff5252 !important;
}

nav ul button{
  text-transform: capitalize !important;
}
/* 
nav ul button:hover{
  text-transform: capitalize !important;
  color: #ff5252 !important;
} */

nav ul button:hover{
  background: none !important;
}